<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="./index.js"></script>
    <title>Third show</title>
  </head>
  <body>
    <div id="final-section" class="hidden">
      <video id="final" class="videofinal">
        <source src="../assets/final.mp4" type="video/mp4" />
      </video>
    </div>

    <lottie-player
      src="https://assets7.lottiefiles.com/packages/lf20_xldshlit.json"
      background="transparent"
      speed="1"
      style="width: 300px; height: 300px"
      loop
      autoplay
      id="animate1"
      class="hidden"
    ></lottie-player>

    <lottie-player
      src="https://assets7.lottiefiles.com/packages/lf20_xldshlit.json"
      background="transparent"
      speed="1"
      style="
        width: 300px;
        height: 300px;
        position: absolute;
        bottom: 10px;
        right: 10px;
      "
      loop
      autoplay
      id="animate2"
      class="hidden"
    ></lottie-player>

    <div id="v1" class="hidden">
      <video id="1">
        <source src="../assets/1.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="v2" class="hidden">
      <video id="2">
        <source src="../assets/2.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="v3" class="hidden">
      <video id="3">
        <source src="../assets/3.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="v4" class="hidden">
      <video id="4">
        <source src="../assets/4.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="v5" class="hidden">
      <video id="5">
        <source src="../assets/5.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="v6" class="hidden">
      <video id="6" class="fit">
        <source src="../assets/6.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="v7" class="hidden">
      <video id="7">
        <source src="../assets/7.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="v8" class="hidden">
      <video id="8">
        <source src="../assets/8.mp4" type="video/mp4" />
      </video>
    </div>

  
    <div id="sectionTwo" class="show">
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/1.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/2.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/3.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/4.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/5.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/6.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/7.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/8.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/9.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/10.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/11.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/12.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/44.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/14.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/15.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/16.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/17.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/18.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/19.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/20.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/21.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/22.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/23.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/24.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/25.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/26.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/28.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/29.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/30.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/31.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/32.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/33.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/34.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/35.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/36.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/37.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/38.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/39.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/40.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/41.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/42.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert" style="width: 512px">
            <source src="../assets/dodos/43.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/45.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/46.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/47.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/48.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/49.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/50.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/51.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/52.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/53.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/54.mp4" type="video/mp4" />
          </video>
        </div>
      </div>

      <div class="conatiner">
        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/55.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/56.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/57.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="mar">
          <video class="videoInsert">
            <source src="../assets/dodos/58.mp4" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
  </body>
</html>
